@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-[#222222] font-sans;
}

body {
  @apply font-sans;
}

#root {
  @apply bg-[#222222];
}

.login-container > h1 {
  font-size: 0 !important;
}

.logo > h1 {
  font-size: 0 !important;
}

header .main-content {
  @apply sticky top-0 !important;
}

.logo::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 50%;
  height: 64px;
  background: url(https://einundzwanzig.space/img/media/einundzwanzig-horizontal-inverted.svg) no-repeat;
  background-size: 200px;
  opacity: 0.7;
  z-index: 1;
}

.logo > * {
  z-index: 100;
}

.main-content {
  @apply pt-6 !important;
}

.text {
  @apply text-lg !important;
}

.page {
  @apply container max-w-4xl relative;
}

.page > .main-content {
  @apply bg-[#1b1b1b] !important;
}

.card > .footer {
  @apply py-4 !important;
}

.card {
  @apply bg-[#1b1b1b] border-b-[#F59E0BFF] !important;
}

.profile .profile-actions {
  @apply flex items-center space-x-4 !important;
}

.btn:hover {
  @apply text-amber-500 !important;
}

button.icon {
  @apply text-white !important;
}

.reaction-pill:hover {
  @apply text-amber-500 !important;
}

.reaction-pill.reacted {
  @apply text-amber-500 !important;
}

.profile .banner {
  @apply w-full max-w-none !important;
}

.icon {
  @apply text-amber-500 !important;
}

.profile .link svg {
  @apply text-amber-500 !important;
}

.profile .about a {
  @apply text-amber-500 !important;
}

.link-preview-title > h1 {
  @apply text-amber-500 !important;
}

.hashtag {
  @apply text-amber-500 !important;
}

.note > .header .reply a {
  @apply text-amber-500 !important;
}

.note .body > .text > a {
  @apply text-amber-500 !important;
}

.note-invoice {
  @apply text-white !important;
  background: linear-gradient(to left bottom, rgb(255, 240, 107), rgb(239, 68, 68), rgb(206, 62, 227)) !important;
}

.dm-window {
  @apply overflow-y-auto !important;
}

.dm.me > div:first-child {
  @apply bg-none bg-amber-500/20 !important;
}

.w-max {
  @apply w-full !important;
}

.dm-window > div:nth-child(3) {
  @apply bg-amber-500 !important;
}

.btn-rnd {
  @apply p-4 !important;
}

.settings-row:hover,
.settings-group-header:hover {
  @apply text-amber-500 !important;
}

.login-container input[type="password"] {
  background: var(--gray-superdark) !important;
}

.profile .profile-wrapper {
  @apply m-0 px-6 !important;
}

.highlight {
  @apply text-amber-500 !important;
}

.login .login-actions > button {
  @apply p-2 px-4 bg-amber-500 text-white !important;
}

.login .login-actions > button:hover {
  @apply p-2 px-4 bg-amber-300 text-black !important;
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  background: var(--gray-superdark);
  @apply border border-gray-700 text-white !important;
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  @apply p-2 !important;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @apply p-2 bg-amber-500 text-black !important;
}

.profile-preview {
  @apply px-4 !important;
}

.link-preview-container {
  @apply mr-12 !important;
}

.f-1 {
  @apply flex flex-row items-center w-full !important;
}

.cogs {
  @apply flex flex-row items-center w-full !important;
}

.search {
  @apply border-2 border-amber-500 !important;
}

.note .footer .footer-reactions {
  @apply w-full flex flex-row items-center justify-between !important;
}

.stream-list {
  @apply py-4 border border-amber-500 !important;
}

.dm-page .new-chat {
  min-width: 0 !important;
}

.note .header .info {
  @apply p-4 bg-amber-500 text-black rounded !important;
}

.info .reaction-pill {
  @apply text-black !important;
}

.info .reaction-pill:hover {
  @apply text-gray-800 !important;
}

.relay-settings > svg {
  @apply text-amber-500 !important;
}
